<div class="container">
  <div class="row p-4">
    <div class="col align-self-start">
      <img
        src="./../../../assets/app-logo.png"
        class="app-logo"
        height="25px"
        alt="Glasstop"
      />
    </div>
    <div class="col align-self-end text-end fs-14 credit">
      Made with <span class="heart">&#10084;</span> by
      <img src="./../../../assets/parent-app-logo.svg" height="25px" />
    </div>
  </div>
  <div class="col-auto slogan mx-auto">
    Proactively boost your <br />
    Glassdoor ratings
  </div>
  <div class="col-auto text-center slogan-desc mt-3 mx-auto">
    Quickly enhance your Glassdoor reviews by soliciting reviews 
    from your champions & superstars. Easily make it to Glassdoor’s 
    “Best” list & make an exemplar impression on new job seekers.
  </div>
  <div class="col-auto mt-4 mx-auto justify-content-center fs-14">
    <div
      class="sign-in-wrapper position-relative justify-content-center mx-auto d-flex"
    >
      <asl-google-signin-button
        id="googleSignIn"
        type="standard"
        shape="rectangular"
        text="continue_with"
        theme="filled_blue"
        width="280"
        height="40"
        logo_alignment="left"
        class="google-icon"
      >
      </asl-google-signin-button>
      <div class="overlay-google-icon">
        <div class="icon-container">
          <img src="./../../../assets/google-logo.svg" height="25px" />
        </div>
      </div>
      <i class="bi bi-arrow-right-short"></i>
    </div>
  </div>
  <div class="row info justify-content-center mt-1 glasstop-grey fs-14">
    No credit card required. Cancel anytime.
  </div>
  <img
    src="./../../../assets/dasboard-image.png"
    class="dashboard-image my-4 row mx-auto"
  />
</div>
