$white: #ffffff;
$font-grey: #637381;
$bg-grey: #f1f5f8;
$light-grey: #dee2e7;
$border-grey: #dddddd;
$light-cement-grey: #7a7a7a;
$med-cement-grey: #7b7b7b;
$grey: #a8acb2;
$font-black: #212b36;
$box-shadow-black: #00000033;
$gold: #f6b704;
$whitish-yellow: #f9f5e8;
$whitish-light-yellow: #fffdf8;
$google-blue: #1a73e8;
$green: #39b54a;
$glasstop-green: #31A927;
$whitish-green: #e3f3e2;
$bright-red: #ff4747;
$orange: #e98034;
$whitish-blue: #dfe7f8;
$light-blue: #d7e3fc;
$icon-blue: #2563eb;
$font-color: #212b36;
$header-bg: #f6f9ff;
$submit-button-color: #2159d3;
$loader-blue: #5160fd;
$light-blue-2: #a9e2fc;
$disabled-btn-color: #a8c1f7;
$skeleton-grey1: #f0f3f5;
$skeleton-grey2: #e0e7eb;
$light-blue-select: #F6F9FF;
$dark-red: #d33e3e;
$dark-red2: #bf3737;
$red : #FF0000;
$pale-grey: #f3f3f3;
$blue-grey: #f1f4fC;
$success-toast-bg: #eafff0;
$success-toast-bdr: #56e9b1;
$error-toast-bg: #fff5f5;
$error-toast-bdr: #f5c8c8;
$navy-blue: #030235;
$shaded-navy-blue: #201F47;
$error-toast-list-heading :#F9FAFB;
$toaster-close-button:#14142a;
$floating-button:#e9ecef;
$mild-grey: #cccccc;
