<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row mb-5">
      <div class="col fw-bold fs-22">
        Campaign Settings
      </div>
      <button class="start-campaign-button btn btn-primary col-auto align-self-end fs-14" type="submit"
        [disabled]="settingsForm.invalid">Start Campaign</button>
    </div>
    <div class="mb-2">
      <img src="../../../assets/time-zone-icon.png">
      <span class="fw-500 fs-14 ps-2">Timezone & sending hours</span>
    </div>
    <div class="f-grey fs-14 mb-2 pb-3 w-100 border-bottom">
      Choose your preferred timezone, set the sending hours, to ensure optimal delivery and response rates.
    </div>
    <label for="Timezone" class="fw-500 fs-14">Timezone</label>
    <div class="mt-2">
      <select class="form-select timezone-dropdown text-start fs-14 px-2 rounded-3" formControlName=timeZone>
        <option value="" disable hidden selected>Select Time Zone</option>
        <option *ngFor="let timeZone of timeZones" [value]="timeZone">
          {{timeZone}}
        </option>
      </select>
    </div>
    <label class="mb-2 mt-2 fw-500 fs-14">Send these days</label>
    <div class="dates">
      <div *ngFor="let day of days;let i=index" class="d-inline-block ps-3" formArrayName="days">
        <input class="form-check-input me-2 fs-15 mt-1" type="checkbox" [value]=day id={{day}} (click)="addDay(day)">
        <label class="form-check-label fs-15 fw-500" for={{day}}>
          {{day}}
        </label>
      </div>
    </div>
    <div class="fs-14 fw-500 mt-3">Set a time window</div>
    <div class="row mt-2">
      <div class="col-auto position-relative">
        <i class="clock-position bi bi-clock pe-1 position-absolute"></i>
        <select class="form-select time-dropdown text-start fs-14 rounded-3 d-inline-block" formControlName=startTime>
          <option *ngFor="let time of times" [value]="time">
            {{time}}
          </option>
        </select>
      </div>
      <div class="col-auto fs-14 d-flex align-items-center">to</div>
      <div class="col-auto position-relative">
        <i class="bi bi-clock pe-1 clock-position position-absolute"></i>
        <select class="form-select time-dropdown text-start fs-14 rounded-3 d-inline-block" formControlName=endTime>
          <option *ngFor="let time of times" [value]="time">
            {{time}}
          </option>
        </select>
      </div>
    </div>
  </div>
</form>