@import "./../../../scss/colors.scss";

.top-bar-container {
  padding: 0 20%;
  height: 60px;
}

.profile-pic {
  border: 1px solid $grey;
}

.dropdown {
  list-style-type: none;
  
  i {
    &::before {
      font-weight: bold !important;
    }
  }

  .dropdown-menu {
    left: unset !important;
    right: 0 !important;

    .upload-icon {
      &:before {
        transform: rotate(270deg);
      }
    }
  }
}

@media (max-width: 1600px) {
  .top-bar-container {
    padding: 0 10% !important;
  }
}